# ===== Database =====
DB_HOST=localhost
DB_PORT=5432
DB_NAME=intern_network
DB_USERNAME=postgres
DB_PASSWORD=password

# ===== Ports =====
GATEWAY_PORT=8080
AUTH_PORT=8081
CANDIDATE_PORT=8082
RECRUITMENT_PORT=8083
MESSAGE_PORT=8084

# ===== Schemas =====
AUTH_DB_SCHEMA=auth_schema
CANDIDATE_DB_SCHEMA=candidate_schema
RECRUITMENT_DB_SCHEMA=recruitment_schema
MESSAGE_DB_SCHEMA=message_schema

# ===== Security =====
JWT_SECRET=dGhpc2lzYXNlY3JldGtleWZvcmF1dGhjb21wb25lbnRzZWNyZXRrZXkxMjM0NTY=
JWT_ACCESS_EXP_MINUTES=60
JWT_REFRESH_EXP_DAYS=7

# ===== External tokens =====
MAPBOX_TOKEN=
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ===== Service URLs (local) =====
AUTH_SERVICE_URL=http://localhost:8081
CANDIDATE_SERVICE_URL=http://localhost:8082
RECRUITMENT_SERVICE_URL=http://localhost:8083
MESSAGE_SERVICE_URL=http://localhost:8084
AI_NLP_SERVICE_URL=http://localhost:8087
